body {
  margin: 0;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efeae3;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
}

.large-circle {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background: #998235;
  position: relative;
}

.small-circle {
  height: 70px;
  width: 70px;
  position: absolute;
  left: 60px;
  top: 10px;
  border-radius: 100%;
  background: #998235;
  display: grid;
  place-items: center;
}

.inside-large-circle {
  height: 25px;
  width: 8px;
  background: #1a4341;
  position: absolute;
  top: 32px;
  left: 30px;
}

.inside-circle {
  height: 30px;
  width: 30px;
  background: #1a4341;
  border-radius: 100%;
  border:5px solid #efeae3
}

.line {
  height: 13px;
  width: 120px;
  background-color: #1a4341;
}

.finalBox {
  height: 20px;
  width: 28px;
  border-radius: 6px;
  background-color: #998235;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: relative;
  left: -1px;
}
.endKey {
  height: 3px;
  width: 12px;
  background-color: #1a4341;
  border-radius: 10px;
}
